.contato {
  background: blue;
  color: rgb(226, 226, 226);
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.2rem;
  line-height: 1.33;
  color: white;
  margin-top: 80px;
  margin-left: 20px;
}

.footer-texto1 {
  font-size: 1.2rem;
  line-height: 1.33;
  color: white;
  
  margin-left: 20px;
}
.footer-contato li {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.1;
  color: aliceblue;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}
.footer-contato li a {
  color: aliceblue;
}

.footer-copy {
  font-size: 1.125rem;
  color: aliceblue;
  margin-bottom: 50px;
  margin-left: 20px;
}
.input {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
}

  .footer-form  {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 10px;
    margin-left: 1000px;
   margin-bottom: 100px;
   margin-top: -200px;

  
}

.botton{
  padding-left: 90px;
  
}



@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}